<h3>Recent Posts</h3>
<ul class="post-list">
    <li class="clearboth">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
        </h3>
        <!-- Your post's summary goes here -->
        <article>{{ post.excerpt }}</article>
        <a class="" href="{{ post.url | relative_url }}">
            [Read More]
        </a>
    </li>
</ul>
<br class="clearboth" />
<!-- Recent Posts -->
<div class="row">
    <div class="large-6 small-12 columns">
        &nbsp;
    </div>
    <div class="large-6 small-12 columns">
        <ul class="posts">
            {% for post in site.posts limit:3 offset:1 %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<br class="clearboth" />
