---
---

@import "minima";

$primary-color:         white;
$off-white:             #f2eee4;
$grey:                  #c0c0c0;
$black:                 #000000;
$background-green:      #287233;
$link-color:            $off-white;

/* SCSS overrides in assets/main.scss */

.post-tags {
    font-style:         italic;
    opacity: 0.6;
}

.post-category-label {
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef;
    padding: 3px;
}

.imagecenter {
    text-align: center;
}

// https://www.cvwdesign.com/blog/post.php?s=css3-box-shadow-and-image-hover-effects
.imagedropshadow {
    padding: 5px;
    border: solid 1px #EFEFEF;
//}
//a:hover img.imagedropshadow {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
}

// this stops /blog previews squashing into each other
// because of the image float
div.post-content > h1,
div.post-content > h2,
.clearboth {
    clear: both;
}

.sectionimage {
    height: 150px;
    width: auto;
    object-fit: contain;
    float:left;
    margin-right: 25px;
}

.sectionimage-right {
    height: 150px;
    width: auto;
    object-fit: contain;
    float:right;
    margin-left: 25px;
}

// https://crunchify.com/how-to-add-smooth-scrolling-back-to-top-button-to-your-wordpress-blog/
.crunchify-top:hover {
    color: #fff !important;
    background-color: #ed702b;
    text-decoration: none;
}

.crunchify-top {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: rgba(0,0,0,0.3);
    text-decoration: none;
    border-radius: 3.2rem;
    text-align: center;
    cursor: pointer;
}

article > p:nth-child(1) > img {
    height: 150px;
    width: auto;
    object-fit: contain;
    float:left;
    margin-right: 10px;
}

.floaty-up-link {
    float: right;
    margin-right: 7px;
}
